.Price {
  .inner {
    margin: 1rem 0;
    text-align: center;
    h1 {
      font-size: 3rem;
      letter-spacing: -0.05em;
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
      line-height: 1;

      @include for-size(phone-only) {
        font-size: 2rem;
      }
    }
  }

  .price-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto auto;
    gap: 0.5em;

    @include for-size(tablet-only) {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .pcard,
    .pHover {
      padding: 2rem;
      background: #f8f8f8;
      border-radius: 10px;
      margin: 2rem 0;

      .top {
        span {
          margin-bottom: 1rem;
          display: block;
        }
        h1 {
          color: $black;
          font-size: 45px;
          line-height: 0.96;
          letter-spacing: -0.03em;
          @include for-size(tablets) {
            font-size: 2.5rem;
          }
          @include for-size(phone-only) {
            font-size: 8.5vw;
          }
        }
        margin: 0 0 1rem 0;
        text-align: center;

        .pp {
          font-size: 24px;
        }
      }

      .bottom {
        margin-bottom: 1rem;
        li {
          text-align: center;
          list-style: none;
          margin-bottom: 1rem;
          color: #696871;
          line-height: 1.5;
          letter-spacing: -0.4px;
          text-transform: capitalize;
        }
      }

      .btn {
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 100%;
        // padding: 0.75rem 4rem;
        background-color: #fff;
        color: $black !important;
        font-size: 1rem !important;
      }
    }
  }

  .pHover {
    margin: 0 !important;
    background: $orange !important;
    color: #fff !important;

    h1 {
      margin-top: 20px;
      margin-bottom: 16px;
      color: #fff !important;
      font-size: 45px !important;
      font-weight: 700;
      letter-spacing: -0.03em !important ;

      span {
        font-size: 20px;
      }
    }

    li {
      color: #fff !important;
    }
  }
}
